@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Opret</a>

<form method="post">
    <details>
        <summary>test</summary>
        @foreach (var item in Model.Todos)
        {
            <div class="form-control mt-3">
                <div class="row">
                    <div class="col-11">
                        <input asp-for="Id" hidden="hidden" value="@item.Id" />
                        <h5 class="form-label">@item.Title</h5>
                        <div class="form-text">@item.Description</div>
                        <div>@Html.DisplayNameFor(x => x.Todo.TaskPriority) </div>
                        <div>@item.TaskPriority</div>
                        <div>@item.Created </div>
                    </div>
                    <div class="col-1">
                        <a class="btn btn-light" asp-page="/Todo/UpdateTodo" asp-route-id="@item.Id">Rediger</a>
                        <button class="btn btn-primary mt-2" asp-page-handler="Completed">Færdig</button>
                        <button class="btn btn-danger mt-2" asp-page-handler="Delete">Slet</button>
                    </div>
                </div>
            </div>
        }
    </details>
</form>

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Opret Todo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <label class="form-label">@Html.DisplayNameFor(x => x.Todo.Title)</label>
                    <input class="form-control" asp-for="Todo.Title" required />
                    <label class="form-label">@Html.DisplayNameFor(x => x.Todo.Description)</label>
                    <textarea class="form-control" asp-for="Todo.Description" required></textarea>
                    <button class="btn btn-primary mt-3" asp-page-handler="Create">Opret</button>
                </form>
            </div>
        </div>
    </div>
</div>