@page
@model TodoWork.Pages.User.UpdateUserModel
@{
}
<div class="d-flex justify-content-center mt-5">
    <form class="form-control w-50 bg-light" method="post">
        <h4>Rediger Bruger</h4>
        <input asp-for="EditUser.users_id" hidden="hidden" />
        <label class="form-label">@Html.DisplayNameFor(x => x.EditUser.users_name)</label>
        <input class="form-control" asp-for="EditUser.users_name" required />
        <label class="form-label">@Html.DisplayNameFor(x => x.EditUser.users_email)</label>
        <input class="form-control" asp-for="EditUser.users_email" required />
        <label class="form-label">@Html.DisplayNameFor(x => x.EditUser.users_password)</label>
        <input class="form-control" asp-for="EditUser.users_password" value="@Model.EditUser.users_password" type="password" required />
        <div class="d-flex justify-content-center mb-2 mt-2">
            <button class="btn btn-primary me-2" asp-page-handler="Update">Opdater</button>
            <a class="btn btn-primary ms-2" data-bs-toggle="modal" href="#DeleteModal" role="button" data-bs-user="@Model.EditUser.users_id">Slet bruger</a>
        </div>
    </form>
</div>

<div class="modal fade" id="DeleteModal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Slet opgave</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div>Vil du slette din bruger?</div>
                    <input id="user" asp-for="EditUser.users_id" hidden />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" asp-page-handler="Delete">Ja</button>
                </div>
            </form>
        </div>
    </div>
</div>
