@page
@model TodoWork.Pages.User.UserIndexModel
@using BLL.DTOModels
@{
    string bgColor = "";
}
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
        <div class="container">
            <div>@Model.User.Name</div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Todo/CompletedTodo">Færdigt</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/User/UpdateUser">Rediger bruger</a>
                    </li>
                </ul>
            </div>
            <form method="post">
                <button class="btn btn-primary" asp-page-handler="LogOut">Log af</button>
            </form>
        </div>
    </nav>
</header>

<a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Opret</a>

@foreach (var enmum in Enum.GetNames(typeof(DTOTodo.Priority)))
{
    @if (enmum == "High") { bgColor = "bg-danger"; }
    @if (enmum == "Medium") { bgColor = "bg-orange"; }
    @if (enmum == "Low") { bgColor = "bg-success"; }
    <details class="mt-3" open>
        <summary class="@bgColor text-light rounded fs-4 ps-3">@enmum</summary>
        @foreach(DTOTodo item in Model.User.Todos.Where(x => x.TaskPriority.ToString() == enmum))
        {
            @await Component.InvokeAsync("Task", item)
        }
    </details>
}

@await Component.InvokeAsync("ModalDelete")

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Opret opgave</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <input asp-for="UserId" value="@Model.User.Id" hidden/>
                    <label class="form-label">@Html.DisplayNameFor(x => x.Todo.Title)</label>
                    <input class="form-control" asp-for="Todo.Title" required />
                    <label class="form-label">@Html.DisplayNameFor(x => x.Todo.Description)</label>
                    <textarea class="form-control" asp-for="Todo.Description" required></textarea>
                    <label class="form-label me-3">@Html.DisplayNameFor(x => x.Todo.TaskPriority)</label>
                    <select class="mt-4" asp-for="Todo.TaskPriority">
                        <option value="High" name="todo.TaskPriority.High">Høj</option>
                        <option value="Medium" name="todo.TaskPriority.Medium" selected="selected">Mellem</option>
                        <option value="Low" name="todo.TaskPriority.Low">Lav</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary mt-3" asp-page-handler="Create">Opret</button>
                </div>
            </form>
        </div>
    </div>
</div>