@using TodoWork.BLL.DTOModels;
@model BLL.DTOModels.DTOTodo

<form method="post">
    <div class="form-control mt-3">
        <div class="row">
            <div class="col-10">
                <input asp-for="Id" hidden="hidden" value="@Model.Id" />
                <h5 class="form-label">@Model.Title</h5>
                <div class="">@Model.Description</div>
                <div class="form-text">Brugt tid: @Model.GetUsedTime().Days dage @Model.GetUsedTime().ToString("h't 'm'm 's's'")</div>
                <div class="row justify-content-start">
                    <div class="form-text col-lg-4">@Html.DisplayNameFor(x => x.Created): @Model.Created </div>
                    <div class="form-text col-lg-4">@Html.DisplayNameFor(x => x.Completed): @Model.Completed</div>
                </div>
            </div>
            <div class="col-md-2 btn-group-vertical">
                <button class="btn btn-success btn-h" asp-page-handler="UnCompleted">Genopret</button>
                <a class="btn btn-danger mt-2 btn-h" data-bs-toggle="modal" href="#DeleteModal" role="button" data-bs-whatever="@Model.Id"> Slet</a>
            </div>
        </div>
    </div>
</form>
